@model flightWebApplication1.Models.Flight
@{
    Layout = null;
}



<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MUSAFIR</title>
    <link rel="shortcut icon" type="image/x-icon" href="logo.png" />








</head>
<body>





    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />







    <center><h1><u><strong>WELCOME TO MUSAFIR FLIGHTS!</strong></u></h1></center>



    <br>
    <br>
    <br>
    <!--<table>



            <tr>
    <td colspan="30">




    <div>
                       @* @Html.ActionLink("Search Flight", "Search", "Flight")
    </div>



                </td>



                <td>



                    @Html.ActionLink("Login", "Index", "Registration")



                </td>





                <td>



                    @Html.ActionLink("Registration", "IndexS", "Registration")*@
    </td>
    </tr>




    </table>-->
    <!--<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">-->
    <center><li>@Html.ActionLink("Search Flight", "Search", "Flight")</li></center>
    <br />
    <center> <li>@Html.ActionLink("Login", "Index", "Registration")</li></center>
    <br />
    <center><li>@Html.ActionLink("Registration", "IndexS", "Registration")</li></center>
    <br />
    </ul>
    </div>




</body>
</html>













<html>
<head>
    <body>
        <style>
            .button {
                background-color: #4CAF50;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }



            body, html {
                height: 100%;
                margin: 0;
            }



            body {
                background-image: url('../../content/images/microsoftteams-image.png');
                height: 100%;
                width: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                text-align: center;
            }
        </style>
</head>

